<div class="d-flex flex-column gap-3 body">
    <div class="dashboard-welcome">Welcome back to alpha minter,</div>
</div>
<div class="d-flex flex-column gap-3 body">
    <div class="dashboard-graph" id="chart_container">

    </div>
    <div class="dashboard-license-section">
        <div class="dashboard-user">
            <div class="dashboard-user-section" style="width:100%;height:50%;">
                <div class="dashboard-user-logo"></div>
                <div class="dashboard-user-name"></div>
            </div>
        </div>
        <div class="user-divider"></div>
        <div>
            <div class="license-label">License Key</div>
            <div class="license-key"></div>
            <div class="license-expiry">
                <div class="next-renewal-label">Next Renewal</div>
                <div class="next-renewal"></div>
            </div>
            
        </div>
    </div>
</div>
<div class="container" style="padding-top:310px;width:100%">
    <div class="row" style="width:100%">
      <div class="col">
        <div style="position: relative;left: 95%; width: 100px;">
            <a class="carousel-control-prev" href="#carousel-ethereum" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-ethereum" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="carousel-ethereum" class="carousel slide" data-ride="carousel" >
            <div class="carousel-inner row w-100 mx-auto" role="listbox" id="ethereum_calendar">
                
            </div>
            
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col" style="margin-top: 30px">
        <div style="position: relative;left: 92%; width: 100px;">
            <a class="carousel-control-prev" href="#carousel-solana" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-solana" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="carousel-solana" class="carousel slide" data-ride="carousel" >
            
            <div class="carousel-inner row w-100 mx-auto" role="listbox" id="solana_calendar">
                
            </div>
           
        </div>
        
      </div>

      </div>
    </div>
</div>